<img id="image" src="/img/<?= $artist->getPicture()  ?>">
<h1><?= $artist->getName() ?></h1>
<div id="kind"> <label> Genre : </label> <?= $artist->getKind() ?> </div>
<div id="country"> <label> Pays : </label> <?= $artist->getCountry() ?> </div>
<div id="description"> <label> Description : </label> <?= $artist->getDescription() ?> </div>

<table>
        <?php
            foreach($artist->getPerformances() as $performance){ ?>
                <tr>
                        <td><?= $performance->getScene() ?></td>
                        <td><?= $performance->getDatetime() ?></td>
                </tr>
                <?php
            }
        ?>
</table>

<div id="contrat"> <label> Contrat : </label> <?= $contract ?> </div>

<a href="?page=preview&id=<?= $artist->getId() ?>">Prévisualisation</a>