<h1>Administration</h1>

<form action="?page=administration" method="post">

    <div id="listCheckbox">
        <?php foreach($genders::All() as $gender) : ?>
        <input type="checkbox" class="regular-checkbox" name="genderId[]" data-gendername="<?= $gender->getName() ?>" value="<?= $gender->getId() ?>" data-genderid="<?= $gender->getId()?>"> <span class="white"> <?= $gender->getName() ?></span><br>

        <?php endforeach; ?>
    </div>

    <div id="afterSelectedCheckbox" class="hidden">
        <button type="submit" id="deleteSelected" name="delete">Supprimer les sélectionnés</button>
        <button type="submit" id="renameSelected" name="rename" disabled >Renommer le sélectionné en</button>
        <input type="text" name="genderToDeleteOrRename" id="genderToDelete"> <br>
    </div>
    <input type="submit" id="Add" name="add" value="Ajouter" disabled>
    <input type="text" name="genderToAdd" id="genderToAdd">
</form>

<script src="sources/view/js/administration.js"></script>
