<h1>Administration</h1>

<h2>Genres</h2>

<form class="customcheckbox">
    <?php foreach ($genders as $gender) { ?>
    <input class="cbxgender" type="checkbox" value="<?= $gender->getId() ?>"> <?= $gender->getName() ?> <br>
    <?php } ?>
</form>


<button id="btnDelete" class="button hidden">Supprimer les sélectionnés</button>
<button id="btnRename" class="button hidden">Renommer le sélectionné en</button>
<input id="tbxRename" type="text" name="tbxAdd" class="hidden" value="">

<form action = "?page=apiga"  method = "POST">
    <button id="btnAdd" class="button" disabled>Ajouter</button>
    <input id="tbxAdd" type="text" name="tbxAdd" value="">
</form>

<script src="sources/js/adminView.js"></script>