<h1><?= $artist->getName() ?> </h1>
<table>
    <tr>
        <th>Genre</th>
        <td><?= $artist->getKind() ?></td>
    </tr>
    <tr>
        <th>Pays</th>
        <td><?= $artist->getCountry() ?></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><?= $artist->getDescription() ?></td>
    </tr>
    <tr>
        <th>Image</th>
        <td><img id="pic" src="/datastorage/pictures/<?= $artist->getPicture() ?>" width="30%" height="50%"></td>
    </tr>
</table>
<table>
    <?php foreach($artist->getPerformances() as $perf){ ?>
    <tr><td><?= $perf->getDatetime()->format('Y-m-d H:i:s') ?></td><td><?= $perf->getScene()->getName() ?></td></tr>
    <?php } ?>
</table>

<label for="contract">Contrat</label><div id="contract"><?= $artist->getContract()->getType() ?></div>
<br>
<a href="?page=preview&id=<?= $artistid ?>"><button class="button">Prévisualiser</button></a>