<h1><?= $artist->getName() ?></h1>

<label for="dpdGender">Genre</label>
<select id="dpdGender">
    <?php foreach ($genders as $gender) { ?>
    <option value="<?= $gender->getId() ?>" <?= $gender->getId() == $artist->getGenderId() ? 'selected' : '' ?> ><?= $gender->getName() ?></option>
    <?php } ?>
</select><br>

<label for="rbtcountry">Pays</label>
<span id="rbtcountry">
    <?php foreach ($countries as $country) { ?>
    <input type="radio" data-cid="<?= $country->getId() ?>" name="rbtCountry" <?= $country->getId() == $artist->getCountryId() ? 'checked' : '' ?> ><?= $country->getName() ?>
    <?php } ?>
</span><br>

<label for="description">Description</label><textarea rows="10" cols="60" name="description" id="description"><?= $artist->getDescription() ?></textarea><br>
 
<label for="pic">Image</label><img id="pic" src="/datastorage/pictures/<?= $artist->getPicture() ?>"><br>

<label for="contract">Contrat</label><span id="contract"><?= $artist->getContract() == null ? "Aucun" : $artist->getContract()->get_type() ?></span><br>
<label for="performances">Performances</label><div id="performances"></div>
<table>
<?php foreach($artist->getPerformances() as $perf){ ?>
<tr><td><?= $perf->getDatetime()->format('Y-m-d H:i:s') ?></td><td><?= $perf->getScene()->getName() ?></td></tr>
<?php } ?>
</table>
<br>

<button id="cmdCancel" class="button">Annuler</button>
<button id="cmdSave" class="button hidden">Enregistrer</button>
<input type="hidden" id="artistid" value="<?= $artist->getId() ?>">
</div>
<div id="lblSaved" class="flashmsg hidden">
    <h4>Données enregistrées</h4>
</div>
<script src="sources/js/editView.js"></script>