<h1><?= $artist->getName() ?></h1>

<label for="kind">Genre</label>
<select>
   <?php foreach ($genders as $gender) { ?>
      <option value="<?= $gender->getName() ?>"><?= $gender->getName() ?></option>
   <?php } ?>
</select><br>
<label for="country">Pays</label>
   <input type="radio" name="Country" value="<?= $artist->getCountry() ?>"><?= $artist->getCountry() ?><br>
<label for="description">Description</label><textarea rows="10" cols="60" name="description" id="description"><?= $artist->getDescription() ?></textarea><br>
<label for="pic">Image</label><img id="pic" src="/datastorage/pictures/<?= $artist->getPicture() ?>"><br>
<label for="contract">Contrat</label><span id="contract"><?= $artist->getContract() == null ? "Aucun" : $artist->getContract()->get_type() ?></span><br>
<label for="performances">Performances</label><div id="performances"></div>
<table>
<?php foreach($artist->getPerformances() as $perf){ ?>
<tr><td><?= $perf->getDatetime()->format('Y-m-d H:i:s') ?></td><td><?= $perf->getScene()->getName() ?></td></tr>
<?php } ?>
</table>
<br>

<a href="?page=view&id=<?= $artist->getId() ?>"><button class="button">Annuler</button></a>
<a href="?page=save&id=<?= $artist->getId() ?>"><button class="button">Sauvegarder</button></a>
