<div id="home-top">
    <div class="overlay">
        <h1>PaléoFestival</h1>
    </div>
</div>
<section id="next-artists">
    <?php foreach($artists as $artist) : ?>
    <a href="?page=preview&id=<?= $artist['id'] ?>">
        <article>
        <img src="<?= pathToArtistsImages() ?><?= $artist['imageurl'] ?>" class="artist-img" />
        <div class="artist-overlay">
            <h2 class="artist-title"><?= $artist['name'] ?></h2>
        </div>
        </article>
    </a>
    <?php endforeach; ?>
</section>