<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>


<div class="flex-container">
<div class="container">
    <h2>Détail de l'artiste <?= $artist->getName(); ?></h2>
    <img src="./externalData/cover/<?= $artist->getPicture() ?>"  class="image" >
           <div class="name"><?= $artist->getName(); ?></div>
    <div class="kind"><?= $artist->getKind(); ?></div>
    <div class="pays"><?= $artist->getCountry(); ?></div>
    <div class="description"><?= $artist->getDescription(); ?></div>
    <label for="contract">Contrat</label><div class="description"><span id="contract"><?= $artist->getContract() == null ? "Aucun" : $artist->getContract()->get_type() ?></span></div><br>

    <label for="performances">Performances</label><div id="performances"></div>
    <div class="artist">
        <table>
            <?php foreach($artist->getPerformances() as $perf){ ?>
            <tr><td><?= $perf->getDatetime()->format('Y-m-d H:i:s') ?></td><td><?= $perf->getScene()->getName() ?></td></tr>
            <?php } ?>
        </table>
        </div>

        <a href="?page=preview&id=<?= $artist->getId() ?>"><button class="button">Prévisualiser</button></a>
</div>
</div>
</body>
</html>