<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informations de l'artiste </title>
</head>
<body>


<div class="flex-container">

<div class="container">
    <h2>Détail de l'artiste <?= $artist['name']; ?></h2>
    <img src="./externalData/cover/<?= $artist['mainpicture']; ?>"  class="image" >
           <div class="name"><?= $artist['name']; ?></div>
    <div class="kind"><?= $artist['kind']; ?></div>
    <div class="pays"><?= $artist['country']; ?></div>
    <div class="description"><?= $artist['description']; ?></div>
    <label for="performances">Performances</label><div id="performances"></div>
    <div class="artist">
        <div class="artistHalfPage">
            <img src="./externalData/pictures/<?= $artist['mainpicture']?>">
            <?php if (count($artist['performances']) > 0) { ?>
            <div class="performances">
                <?php foreach($artist['performances'] as $perf){ ?>
                <?= $perf['scene'] ?>, <?= strftime('%A',strtotime($perf['datetime'])) ?> à <?= strftime('%R',strtotime($perf['datetime'])) ?><br>
                <?php } ?>
            </div>
            <?php } ?>
        </div>

        <a href="?page=preview&id=<?= $artist['id'] ?>"><button class="button">Prévisualiser</button></a>
</div>
</div>
</body>
</html>