<img id="image" src="../img/<?= $artist->getPicture()  ?>">
<h1><?= $artist->getName() ?></h1>
<div id="kind"> <label> Genre : </label> <?= $artist->getKind() ?> </div>
<div id="country"> <label> Pays : </label> <?= $artist->getCountry() ?> </div>
<div id="description"> <label> Description : </label> <?= $artist->getDescription() ?> </div>

<?php
    foreach($artist->getPerformances() as $performance){ ?>
        <?= $performance->getScene() ?>
        <?= $performance->getDatetime() ?>
        <?php
    }
?>

<a href="?page=preview&id=<?= $artist->getId()  ?>">Prévisualisation</a>