<html>
<head>
    <meta charset="utf-8">
    <title>LineUp</title>
    <link rel="stylesheet" type="text/css" href="sources/view/style.css">
</head>
<body>
<header id="header">
    <img src="/assets/images/Logo.png" width="80px" height="80px">
    <nav>
        <a href="?page=home">Accueil</a>
        <a href="?page=list">Liste</a>
    </nav>
</header>
<div id="page">
    <div id="content"><?= $content ?></div>
</div>

<footer id="footer">
    <?= $appVersion ?> &copy; 2018 <a href="http://www.cpnv.ch">CPNV</a>
</footer>
</body>
</html>

