<html>
<head>
    <meta charset="utf-8">
    <title>LineUp</title>
    <link rel="stylesheet" type="text/css" href="sources/view/style.css">
    <link rel="stylesheet" type="text/css" href="sources/view/css/animate.min.css">
    <script src="node_modules/jquery/dist/jquery.js"></script>
</head>

<body>
<header id="header">
    <img src="/assets/images/Logo.png" id="logo">
    <nav>
        <ul>
            <li>
                <a href="?page=home">Accueil</a>
            </li>
            <li>
                <a href="?page=list">Liste</a>
            </li>
            <li>
                <a href="?page=administration">Administration</a>
            </li>
        </ul>
    </nav>
</header>
<div id="page">
    <div id="content"><?= $content ?></div>
</div>

<footer id="footer">
    Dardan ILJAZI <?= $appVersion ?> &copy; 2018 <a href="http://www.cpnv.ch">CPNV</a>
</footer>
</body>
</html>

