<script>
    function show(id) {
        document.getElementById("over-"+ id).style.opacity = "1";
       document.getElementById("over-" + id).style.height = "100%";
       document.getElementById("over-" + id).style.width = "100%";
    }
    function leave(id) {
        document.getElementById("over-"+ id).style.opacity = "0";
        document.getElementById("over-" + id).style.height = "0";
        document.getElementById("over-" + id).style.width = "0";
    }
</script>


<div class="flex-container">
    <h2>Liste des artistes</h2>
    <?php foreach ($artists as $key => $artist) { ?>
    <div class="container" onmouseover="show(<?= $key; ?>)" onmouseout="leave(<?= $key; ?>)">

        <img src="./externalData/cover/<?= $artist['mainpicture']; ?>" alt="Avatar" class="image" style="height: 600px; width: 900px;">
        <a href="?page=info&id=<?= $artist['id']; ?>">
        <div class="overlay" id="over-<?= $key; ?>">
            <div class="text"><?= $artist['name']; ?></div>
        </div></a>
    </div>
    <?php } ?>
</div>
