<h1>Preview</h1>

<table>
    <thead>
    <th colspan="2"><h1 data-artistId="<?= $actualArtist['id'] ?>"><?= $actualArtist['name'] ?></h1></th>
    </thead>
    <tbody>
    <tr>
        <td>Genre</td>
        <td><span data-key="kind"><?= $actualArtist['kind'] ?></span></td>
    </tr>
    <tr>
        <td>Pays</td>
        <td><span data-artistId="<?= $actualArtist['id'] ?>"  data-key="id"><?= $actualArtist['country'] ?></span></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><span data-artistId="<?= $actualArtist['id'] ?>"><?= $actualArtist['description'] ?></span></td>
    </tr>
    <tr>
        <td>Image</td>
        <td><img src="<?= $pathToArtistsImage ?>" alt="<?= $actualArtist['name'] ?>" width="500px" /></td>
    </tr>
    </tbody>
</table>
