@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Univers Light Condensend";
  src: url("../../assets/fonts/Univers_Light_Condensed.ttf");
}
table, #home-top .overlay h1, header {
  font-family: "Univers Light Condensend", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: black url("../../assets/images/body-background-left.png") repeat-y;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 10px;
}
header #logo {
  object-fit: scale-down;
  height: 100%;
  order: 1;
  flex-basis: 10%;
}
header nav {
  color: white;
  order: 2;
  flex-basis: 45%;
  font-size: 25px;
}
header nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: #e94285;
}

#home-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/people.jpg");
  background-size: cover;
  height: 50vh;
  margin-bottom: -15vh;
}
#home-top .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#home-top .overlay h1 {
  font-size: 120px;
  color: white;
}

#next-artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#next-artists a {
  width: 32%;
  outline: none;
}
#next-artists article {
  background-color: #e94285;
  width: 100%;
  opacity: 0.8;
  height: 45vh;
  color: white;
  margin-bottom: 10vh;
  position: relative;
}
#next-artists article .artist-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#next-artists article .artist-overlay {
  transition: all 0.3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e94285;
  opacity: 0.25;
  z-index: 999;
}
#next-artists article .artist-overlay .artist-title {
  display: none;
  text-align: center;
}
#next-artists article .artist-overlay:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: transparent;
}
#next-artists article .artist-overlay:hover .artist-title {
  display: block;
}

#content h1 {
  color: white;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table thead {
  background-color: #e94285;
  color: white;
  height: 30px;
  font-size: 25px;
}
table thead th {
  padding: 10px;
}
table tbody td {
  padding: 20px;
}
table tbody td:nth-child(odd) {
  background-color: #c0dfdc;
}
table tbody td:nth-child(odd):hover {
  background-color: #9ecec9;
}
table tbody td:nth-child(even) {
  background-color: #e94285;
}
table tbody td:nth-child(even):hover {
  background-color: #de1a69;
}
table tbody td a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 110%;
}

#countries-list {
  display: flex;
  flex-direction: row;
}
#countries-list input {
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

button, input[type=submit] {
  background-color: #e94285;
  min-height: 50px;
  padding: 20px;
  margin-top: 10px;
  border: none;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 15vh;
  margin-top: 10vh;
}

.white {
  color: white !important;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 6px;
  border-radius: 0;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: #e94285;
  border: 1px solid #e94285;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: white;
}

.regular-checkbox:checked:after {
  content: "✔";
  font-size: 10px;
  position: absolute;
  top: -1px;
  left: 2px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
