@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Univers Light Condensend";
  src: url("../../assets/fonts/Univers_Light_Condensed.ttf");
}

$paleoPink:rgb(233, 66, 133);
$goldNumber:1.61803398875;

body{
  padding: 0;
  margin: 0;
  background: black url("../../assets/images/body-background-left.png") repeat-y;
  font-family: "Lato", sans-serif;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 10px;
  font-family: "Univers Light Condensend";

  #logo{
    object-fit: scale-down;
    height: 100%;
    order: 1;
    flex-basis: 10%;
  }

  nav{
    color: white;
    order: 2;
    flex-basis: 45%;
    font-size: 25px;

    li{
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      a{
        color: white;
        text-decoration: none;
        &:hover{
          color: $paleoPink;
        }
      }
    }
  }
}

#home-top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/people.jpg");
  background-size: cover;
  height: 50vh;
  margin-bottom: -15vh;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    h1 {
      font-family: "Univers Light Condensend";
      font-size: 120px;
      color: white;
    }
  }
}

#nextartists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  a{
    width: 32%;
    outline: none;
  }
  article{
    background-color: $paleoPink;
    width: 100%;
    opacity: 0.8;
    height: 45vh;
    color: white;
    margin-bottom: 10vh;
    position: relative;

    .artistimg{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .artistoverlay{
      transition: all 0.3s;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $paleoPink;
      opacity: 0.25;
      z-index: 999;

      .artisttitle{
        display: none;

        text-align: center;
      }

      &:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        opacity: 1;
        background-color: transparent;

        .artisttitle{
          display: block;
        }
      }
    }
  }
}

table{
  border-collapse: collapse;
  thead{
    background-color: $paleoPink;
    color: white;
    height: 30px;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 15vh;
  margin-top: 10vh;
}


