// Background colors
$navBackgroundColor : #8f4;
$linksBackgroundColor : #1c1;
$navBackgroundColor : #6f2;
$pageBackgroundColor: #cdc;
$footerBackgroundColor: #beb;

// Text colors
$linksTextColor : #111;
