// Background colors
$navBackgroundColor : #f84;
$linksBackgroundColor : #c11;
$navBackgroundColor : #f62;
$pageBackgroundColor: #dcc;
$footerBackgroundColor: #ebb;
$buttonColor: #a22;

// Text colors
$linksTextColor : #eee;
