@import url(fonts.css);
body {
  font-family: 'abel', Fallback, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  background-image: url("/assets/images/crowd.jpg");
  background-size: contain;
}

nav {
  height: 50px;
  font-family: 'riffic', Fallback, sans-serif;
  background-color: #f62;
  border-radius: 10px;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  opacity: 0.8;
}

nav a {
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #eee;
  text-decoration: none;
}

nav a:hover {
  background-color: #c11;
}

.logo {
  width: 40px;
  height: 40px;
  float: left;
  margin: 2px;
}

#page {
  background-color: #dcc;
  padding: 15px;
  flex-grow: 2;
}

footer {
  background-color: #ebb;
  padding-left: 20px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #d3bdbd;
}

table th,
td th,
th th {
  background-color: #be9e9e;
}

table tr,
td tr,
th tr {
  cursor: pointer;
}

table td,
td td,
th td {
  padding-left: 10px;
  padding-right: 10px;
}

table a,
td a,
th a {
  text-decoration: none;
  color: #eee;
}

input:read-only,
textarea:read-only {
  background-color: #dcc;
  border: none;
  font-family: 'abel', Fallback, sans-serif;
  font-size: large;
  vertical-align: top;
}

label {
  display: inline-block;
  font-size: large;
  width: 100px;
  text-align: right;
  padding-right: 15px;
}

.button {
  background-color: #24a;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
}

.disable {
  background-color: grey;
  pointer-events: none;
}

.artist {
  display: flex;
  flex-direction: column;
}

.artist img {
  width: 100%;
  margin: 0;
}

.artistHalfPage {
  position: relative;
}

.descbody {
  position: absolute;
  background-color: white;
  align-content: center;
  width: 400px;
  padding: 15px;
  left: 30%;
  height: auto;
  top: -150;
  text-align: justify;
  text-justify: inter-word;
  transform: skew(15deg);
}

.bandname, .bandcountry, .bandkind {
  margin-left: 100px;
  transform: rotate(-7deg);
}

.bandname {
  color: deeppink;
  font-size: 40px;
  font-weight: bolder;
}

.bandcountry {
  font-size: x-large;
}

.bandkind {
  font-size: larger;
}

#pic {
  width: 300px;
  vertical-align: top;
}

#homepic {
  text-align: center;
}

.artist_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.artist_page a {
  text-decoration: none;
}

.artist_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
  width: 300px;
  height: 200px;
  font-size: 20px;
  border: black 1px solid;
  overflow: hidden;
}

.artist_image {
  height: 170px;
  width: 100%;
  background-size: 105%;
  opacity: 0.6;
  background-repeat: no-repeat;
  transition: all 0.6s ease-in;
  overflow: hidden;
}

.artist_info {
  height: 30px;
  width: 50%;
  text-align: center;
  color: #eee;
  background-color: #c11;
  z-index: 1;
}

.artist_image:hover {
  opacity: 1;
  transform: scale(1.05);
}
