// Background colors
$navBackgroundColor : #84f;
$linksBackgroundColor : #11c;
$navBackgroundColor : #62f;
$pageBackgroundColor: #ccd;
$footerBackgroundColor: #bbe;
$buttonColor: #22a;

// Text colors
$linksTextColor : #eee;
